<%- include ("../partials/header") %> 
<!-- <h1>Edit Teacher <%= teacher.name %> Details</h1> -->
<!-- 
<form action="/admin/manage/<%= teacher._id %>/edit?_method=PUT" method="POST">
    <input type="text" name="teacher[name]" value="<%= teacher.name %>">
    <input type="text" name="teacher[email]" value="<%= teacher.email %>">
    <input type="text" name="teacher[username]" value="<%= teacher.username %>">
    <button>Update Teacher</button>
</form> -->

<div class="row animated fadeIn fast">
    <div class="col-md-6" style="float: none; margin: auto;">
        <form class="form-container" action="/admin/manage/<%= teacher._id %>/edit?_method=PUT" method="POST">
            <h1 class="mb-3" style="text-align: center;">Update Teacher: <%= teacher.name %></h1>
            <div class="input-group mb-3">
                <input type="text" name="teacher[name]" class="form-control" value="<%= teacher.name %>" required>
            </div>
            <div class="input-group mb-3">
                <input type="email" name="teacher[email]" class="form-control" value="<%= teacher.email %>" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" name="teacher[username]" class="form-control" value="<%= teacher.username %>" required>
            </div>
            <button class="btn btn-outline-warning btn-block mb-3">Update Teacher</button>
            <a href="/admin"><i class="fas fa-angle-left"></i>&nbsp;Go Back</a>
        </form>
    </div>
</div>
<%- include ("../partials/footer") %> 